.getWrapper {
  z-index: 0;
}

.get {
  display: grid;
  border-radius: 10px;
  margin-top: 16px;
  height: 230px;
  align-content: center;
  gap: 20px;

  border: 1px solid rgba(34, 65, 102, 0.56);
  background: rgba(114, 128, 255, 0.08);
}

.getTitle {
  margin-top: 10px;
}

.getTitle span {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: #cdcdcd;
}

.inputBlock {
  display: grid;
  grid-template-columns: 35% 28%;
  justify-content: space-between;
  margin: 0px 20px 0 20px;
  height: 100%;
}

.inputBlock input {
  height: 50px;
  border: 1px solid #d9d9d9;
  background: white;
  font-size: 25px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #256058;
  background: rgba(52, 17, 17, 0);
  color: #cdcdcd;
}

.inputBlock select {
  height: 50px;
  border: 1px solid #d9d9d9;
  background: white;
  font-size: 25px;
  outline: none;
}

.select2 {
  position: relative;
  height: 50px;
}

.select2__header {
  display: grid;
  grid-template-columns: 1fr 30px;
  height: 50px;

  font-size: 25px;
  outline: none;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  border: 1px solid #496f9c;
  background: rgba(52, 17, 17, 0);
  color: #cdcdcd;
}

.select2__current {
  align-self: center;
  padding-left: 10px;
}

.select2__icon {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid black;
  align-self: center;
  justify-content: center;
}

.select__body__active2 {
  margin-top: 10px;
  display: block;
  border-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid #496f9c;
  background: rgba(114, 128, 255, 0.08);
  backdrop-filter: blur(5px);
  color: #cdcdcd;
}

.select__body2 {
  border: 1px solid #d9d9d9;
  border-top: 0;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}

.select__item {
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  padding: 10px;
}

.select__item:hover {
  background-color: rgba(118, 122, 180, 0.293);
}

.wallet {
  display: grid;
  grid-template-rows: 30% 10%;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
}

.walletTextBlock {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #cdcdcd;
}

.wallet input {
  margin-top: 10px;
  height: 45px;
  font-size: 25px;
  max-width: 700px;
  width: 100%;
  outline: none;
  border-radius: 10px;
  border: 1px solid #496f9c;
  background: rgba(52, 17, 17, 0);
  color: #cdcdcd;
}

.errorWallet {
  font-size: 19px;
  color: red;
  margin-top: 5px;
}

@media (max-width: 880px) {
  .select2__header {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .inputBlock {
    grid-template-columns: none;
    padding-top: 20px;
    gap: 20px;
    justify-content: normal;
  }

  .get {
    gap: 5%;
    padding-bottom: 15px;
    height: auto;
  }
}

@media (max-width: 425px) {
  .inputBlock input {
    font-size: 23px;
  }
}
