.sendWrapper {
  height: 100%;
}

.send {
  display: grid;
  margin-top: 16px;
  border-radius: 10px;
  border: 1px solid #1e3959;
  background: rgba(114, 128, 255, 0.08);
}

.sendTitle {
  margin-top: 10px;
}

.sendTitle span {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: #cdcdcd;
}

.sendBlock {
  display: grid;
  gap: 10px;
  margin-top: 30px;
}

.rateInfo {
  display: grid;
  /* grid-template-columns: 50% 30%; */
  justify-content: space-between;
}

.rateInfo span {
  margin-left: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #cdcdcd;
}

.inputBlock {
  display: grid;
  grid-template-columns: 35% 28%;
  justify-content: space-between;
  margin: 0px 20px 0 20px;
  height: 100%;
}

.inputBlock input {
  height: 50px;
  border: 1px solid #d9d9d9;
  background: white;
  font-size: 25px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #256058;
  background: rgba(52, 17, 17, 0);
  color: #cdcdcd;
  padding-left: 5px;
}

.inputBlock select {
  height: 50px;
  border: 1px solid #d9d9d9;
  background: white;
  font-size: 25px;
  outline: none;
}

.select {
  position: relative;
  height: 50px;
}

.select2 {
  position: relative;
  height: 50px;
}

.select__header {
  display: grid;
  grid-template-columns: 1fr 30px;
  height: 50px;
  font-size: 25px;
  outline: none;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  border: 1px solid #496f9c;
  background: rgba(52, 17, 17, 0);
  color: #cdcdcd;
}

.select2__header {
  display: grid;
  grid-template-columns: 1fr 30px;
  height: 50px;
  border: 1px solid #d9d9d9;
  background: white;
  font-size: 25px;
  outline: none;
  cursor: pointer;
  justify-content: center;
  align-content: center;
}

.select__current {
  align-self: center;
  padding-left: 10px;
}

.select2__current {
  align-self: center;
  padding-left: 10px;
}

.select__icon {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid black;
  align-self: center;
  justify-content: center;
}

.select2__icon {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid black;
  align-self: center;
  justify-content: center;
}

.select__body__active {
  margin-top: 10px;
  display: block;
  border-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid #496f9c;
  background: rgba(114, 128, 255, 0.08);
  backdrop-filter: blur(5px);
  color: #cdcdcd;
}

.select__body {
  border: 1px solid #d9d9d9;
  border-top: 0;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}

.select__body2 {
  border: 1px solid #d9d9d9;
  border-top: 0;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}

.select__item {
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  padding: 10px;
}

.select__item:hover {
  background-color: rgba(118, 122, 180, 0.293);
}

.errorCount {
  display: grid;
  position: absolute;
  justify-self: end;
  margin-right: 300px;
  margin-top: 15px;
  font-size: 19px;
  color: red;
}

@media (max-width: 650px) {
  .inputBlock {
    gap: 20px;
    grid-template-columns: none;
    padding-top: 20px;
    justify-content: normal;
  }
  .sendBlock {
    margin-top: 0px;
  }
}

@media (max-width: 880px) {
  .select__header {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .inputBlock input {
    font-size: 23px;
  }

  .sendTitle span {
    font-size: 30px;
  }
}
