.wrapper {
  height: 1fr;
  max-width: 1200px;
  width: 100%;
  /* background-color: red; */
  margin: 0 auto;
}

.header {
  display: grid;
  justify-content: center;
  margin-top: 50px;
}

.header span {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.detailsBlock {
  margin-top: 50px;
  width: 100%;
  height: 100%;

  border-radius: 10px;
  border: 1px solid #1e3959;
  background: rgba(114, 128, 255, 0.08);
  display: grid;
}

.detailsBlockHeader {
  display: grid;
  justify-content: center;
}

.detailsBlockHeader span {
  color: #fff;
  margin-top: 10px;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.exchangeBlock {
  margin-top: 35px;
  max-width: 900px;
  width: 100%;
  height: 250px;
  /* background-color: yellow; */
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 7% 1fr;
}

.send {
  height: 100%;
  /* background-color: rgb(58, 177, 68); */
  display: grid;
  grid-template-columns: 1fr 30%;
}

.sendInfo {
  margin-left: 30px;
  display: grid;
  grid-template-rows: 50px 50px;

  /* background-color: rgb(155, 103, 103); */
}

.sendInfoText span {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sendInfoTicker {
  justify-content: end;
  margin-right: 20px;
  margin-top: 70px;
  display: grid;
  align-content: center;
}

.sendInfoTicker span {
  color: #fff;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sendItem {
  display: grid;
  align-content: center;
  justify-content: center;
}

.sendItem img {
  display: grid;
  object-fit: cover;
  width: 65%;
  justify-self: center;
}

.point {
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  /* background-color: rgb(45, 126, 130); */
}

.get {
  height: 100%;
  /* background-color: rgb(72, 11, 46); */
  display: grid;
  grid-template-columns: 30% 1fr;
}

.getItem {
  display: grid;
  align-content: center;
  justify-content: center;
}

.getItem img {
  display: grid;
  object-fit: cover;
  width: 65%;
  justify-self: center;
}

.getInfo {
  margin-right: 30px;
  display: grid;
  grid-template-rows: 50px 50px;
  /* background-color: rgb(37, 173, 200); */
}

.getInfoText {
  display: grid;
  /* background-color: rgb(173, 0, 133); */
  justify-content: end;
}

.getInfoText span {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.getInfoTicker {
  justify-content: start;
  margin-left: 20px;
  margin-top: 70px;
  display: grid;
  align-content: center;
}

.getInfoTicker span {
  color: #fff;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.walletText {
  display: grid;
  align-content: end;
  margin-top: 15px;
  margin-bottom: 35px;
  margin-left: 50px;
}

.walletText span {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(34, 65, 102, 0.56);
  background: rgba(114, 128, 255, 0.08);
  padding-bottom: 20px;
}

.app {
  display: grid;
}

.app span {
  margin-top: 20px;
  margin-left: 30px;
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.date {
  display: grid;
}

.date span {
  margin-top: 40px;
  margin-left: 30px;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.infoBlock {
  margin-top: 40px;
  display: grid;
  gap: 30px;
}

.infoBlock span {
  margin-left: 30px;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.requisites {
  margin-top: 40px;
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 30% 70%;
}

.qrBlock {
  border-radius: 10px;
  border: 1px solid rgba(34, 65, 102, 0.56);
  background: rgba(114, 128, 255, 0.08);
  display: grid;
  justify-items: center;
}

.qr {
  border-radius: 30px;
  margin-top: 20px;
  display: grid;
  height: 0px;
  width: 90%;
  padding-bottom: 90%;

  background-color: rgb(224, 224, 224);
}

.acceptBlock {
  margin-left: 20px;
  margin-right: 20px;
}

.acceptWallet {
  border-radius: 10px;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #496f9c;
  background: rgba(114, 128, 255, 0.08);
}

.submitDescription {
  margin-top: 20px;
  height: 150px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #a94545;
  background: rgba(114, 128, 255, 0.08);
  padding: 10px 10px 10px 10px;
}

.submitDescription span {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttonWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  column-gap: 5%;
  margin-top: 50px;
}

.button1 button {
  padding: 0;
  border: 0;
  margin-top: 20px;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(
    91deg,
    rgba(45, 94, 151, 0.15) 25.63%,
    rgba(65, 197, 157, 0.15) 82.92%
  );
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 150% */
}

.button2 button {
  padding: 0;
  border: 0;
  margin-top: 20px;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(
    91deg,
    rgba(79, 80, 80, 0.15) 25.63%,
    rgba(200, 200, 200, 0.15) 82.92%
  );
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 150% */
}

.acceptBlockText {
  margin-bottom: 10px;
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.acceptWallet {
  display: grid;
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.acceptWallet span {
  margin-left: 10px;
  display: grid;
  align-content: center;
}

.preloader {
  display: grid;
  backdrop-filter: blur(15px);
  width: 100%;
  height: 200%;
  z-index: 1;
  align-content: start;
  position: fixed;
}

.preloader svg {
  width: 200px;
  height: 100%;
  display: grid;
  justify-self: center;
  margin-top: 10%;
}

@media (max-width: 1024px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .getInfoTicker span {
    font-size: 25px;
  }

  .sendInfoTicker span {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .submitDescription span {
    font-size: 22px;
  }

  .requisites {
    grid-template-columns: none;
  }

  .qrBlock {
    display: none;
  }
  .acceptWallet {
    font-size: 21px;
  }
}

@media (max-width: 675px) {
  .acceptWallet {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .sendInfo {
    display: none;
  }

  .send {
    height: 100%;
    display: grid;
    grid-template-columns: none;
  }

  .getInfo {
    display: none;
  }

  .get {
    height: 100%;
    display: grid;
    grid-template-columns: none;
  }

  .getItem img {
    display: grid;
    object-fit: cover;
    width: 55%;
    justify-self: center;
  }

  .sendItem img {
    display: grid;
    object-fit: cover;
    width: 55%;
    justify-self: center;
  }

  .exchangeBlock {
    height: 120px;
  }

  .walletText {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .walletText span {
    font-size: 25px;
  }

  .detailsBlock {
    margin-top: 30px;
  }

  .header {
    margin-top: 70px;
  }

  .header span {
    font-size: 35px;
  }

  .description {
    height: 100%;
  }

  .app span {
    margin-left: 20px;

    font-size: 35px;
  }

  .date span {
    margin-top: 20px;
    margin-left: 20px;

    font-size: 30px;
  }

  .infoBlock {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    padding-bottom: 20px;
  }

  .infoBlock span {
    margin-left: 20px;
    font-size: 24px;
  }

  .requisites {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;

    grid-template-columns: none;
  }

  .qrBlock {
    display: none;
  }

  .acceptBlock {
    margin-left: 0px;
    margin-right: 0px;
  }

  .acceptWallet {
    display: grid;
    color: #fff;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .acceptWallet span {
    margin-left: 10px;
    display: grid;
    align-content: center;
  }

  .submitDescription {
    height: 100px;
  }

  .submitDescription span {
    font-size: 17px;
  }

  .buttonWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;
    margin-top: 10px;
  }
}

@media (max-width: 375px) {
  .app span {
    font-size: 30px;
  }
  .date span {
    font-size: 25px;
  }

  .infoBlock span {
    margin-left: 20px;
    font-size: 20px;
  }

  .description {
    padding-bottom: 0px;
  }

  .detailsBlockHeader span {
    font-size: 30px;
  }

  .walletText span {
    font-size: 24px;
  }

  .acceptWallet {
    font-size: 14px;
  }

  .submitDescription span {
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .app span {
    margin-left: 10px;
    font-size: 25px;
  }

  .date span {
    margin-top: 10px;
    margin-left: 10px;

    font-size: 23px;
  }

  .infoBlock {
    margin-top: 15px;
    display: grid;
    gap: 20px;
    padding-bottom: 20px;
  }

  .infoBlock span {
    margin-left: 10px;
    font-size: 20px;
  }

  .walletText span {
    font-size: 22px;
  }

  .detailsBlockHeader span {
    font-size: 27px;
  }

  .submitDescription {
    height: 120px;
  }

  .acceptWallet {
    font-size: 12px;
  }
}
